# .gitignore

# dataディレクトリ内のデータファイル
# 適宜追加
data/**/*.csv
data/**/*.json
data/**/*.c3d

# 自動生成されるinfo/ディレクトリ内のファイル
info/*

# Python関連
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.whl
.venv/*

# Jupyter Notebook関連
.ipynb_checkpoints/

# VS Code関連
*.code-workspace

# 環境設定ファイル
.env
*.env

# OS関連
.DS_Store
Thumbs.db

# ログファイル
*.log

# その他
.idea/
*.iml
*.swp
*.swo
*.tmp
*.bak
